body {
    margin: 20px;
    padding: 0;
    font-family: sans-serif;
    font: 14px;
    background: #e2d8d0;
}

#learn-main {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: #e2d8d0;
}

#learn-image-1 {
    position: absolute;
}

#learn-image-2 {
    position: absolute;
}

#learn-text {
    position: absolute;
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    color: #796c65;
}

#learn-playbutton {
    display: flex;
    background-color: #1c2833;
    position: absolute;
    justify-content: center;
    color: #fff;
    font-size: 2.2vw;
    font-family: Calibri;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
}