.profile {
    top: 5%;
    position: relative;
}

.profile-history {
    font-family: Calibri;
    font-weight: bold;
    font-size: 2vw;
    color: #796c65;
    margin: 10px;
}

#logoutBtn {
    display: flex;
    background-color: #1c2833;
    top: 50px;
    width: 10%;
    height: 5%;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
    font-family: Calibri;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
}