html,
body {
    overscroll-behavior-y: contain;
}

body {
    margin: 20px;
    padding: 0;
    font-family: sans-serif;
    font: 14px;
    background: #faf8ef;
    position: relative;
}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.profile-info {
    top: 5%;
    position: relative;
}

.profile-history {
    font-family: Calibri;
    font-weight: bold;
    font-size: 2vw;
    color: #796c65;
    margin: 10px;
}

#logoutBtn {
    display: flex;
    background-color: #1c2833;
    top: 50px;
    width: 10%;
    height: 5%;
    justify-content: center;
    color: #fff;
    font-size: 2vw;
    font-family: Calibri;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
}

#amazon-left-ads {
    position: absolute;
}

#amazon-right-ads {
    position: absolute;
}