.Menu {
    position: absolute;
    top: 3%;
    right: 5%;
    height: 4vh;
}

.m-item {
    position: absolute;
    right: 0;

    width: 6vh;
    height: 4vh;
    padding: 0.2vw;

    border-radius: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 1s;
    color: #1c2833;
    font-size: 2vh;
    font-family: Calibri;
    font-weight: bold;
    z-index: 2;
}

.m-logo {
    background-color: #e2d8d0;
    position: absolute;
    right: 0;

    width: 6vh;
    height: 4vh;

    padding: 0.2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: 1s;
    z-index: 3;
}

.open-1 {
    right: 24vw;
}
.open-2 {
    right: 18vw;
}
.open-3 {
    right: 12vw;
}
.open-4 {
    right: 6vw;
}

.mopen-1 {
    top: 4vh;
}
.mopen-2 {
    top: 8vh;
}
.mopen-3 {
    top: 12vh;
}
.mopen-4 {
    top: 16vh;
}
